.home {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  min-height: 520px;
}

.searchBar {
  background-color: #1c688e;
  padding: 20px 24px;
  position: relative;
}

.searchBar-input {
  width: 100%;
  border: 1px solid #d6d6d6;
  padding: 8px 16px;
  height: 40px;
  border-radius: 3px;
  font-size: 15px;
  padding-right: 48px;
}

.home-container {
  display: block;
}

@media screen and (min-width: 64em) {
  .home {
    width: 820px;
  }

  .home-container {
    display: flex;
  }
}
