.restaurant {
  display: flex;
  margin-bottom: 16px;
}

.restaurant-picture {
  height: 80px;
  width: 80px;
}

.restaurant-picture img {
  border-radius: 8px;
  max-width: 100%;
}

.restaurant-details {
  padding-left: 16px;
  flex: 1;
}

.restaurant-name {
  margin-bottom: 4px;
}

.restaurant-reviews {
  display: flex;
  font-size: 12px;
}

.restaurant-starsCount {
  display: flex;
  align-items: center;
  color: #ffab66;
  padding-right: 8px;
  justify-content: space-between;
}

.restaurant-starsCount .value {
  margin-right: 8px;
}

.restaurant-reviewsCount {
  color: #707070;
  padding-left: 8px;
}

.restaurant-moreDetails {
  color: #707070;
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.restaurant-moreDetails-detail {
  border-right: 1px solid #707070;
  padding: 0 4px;
}

.restaurant-moreDetails-detail--first {
  padding-left: 0;
}

.restaurant-moreDetails-detail--last {
  border-right: none;
}

.restaurant-reserve-url {
  color: #000;
}
