.restaurantsList {
  padding: 32px 24px;
  flex: 1;
  width: 100%;
}

.restaurantsList-title {
  border-bottom: 1px solid #ccc;
  position: relative;
  margin-bottom: 24px;
  font-weight: 600;
}

.restaurantsList-results {
  position: absolute;
  background-color: #fff;
  padding-right: 32px;
  top: 2px;
}

.restaurantsList-more {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.restaurantsList-more-button {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 54px;
}
