.scrollTopButton {
  position: fixed;
  bottom: 8px;
  right: 8px;
  border-radius: 4px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  box-shadow: 2px 2px 4px #ccc;
  z-index: 1;
}

.scrollTopButton img {
  max-width: 70%;
}
