.searchButtonIcon {
  position: absolute;
  right: 32px;
  top: 30px;
  z-index: 1;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.searchButtonIcon img {
  max-width: 100%;
  max-height: 100%;
}
