.sidebar {
  border-right: 1px solid #e6e6e6;
  width: 100%;
  height: 100%;
  padding: 32px 24px;
}

.sidebar-toggle {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 54px;
  width: 200px;
  margin: 0 auto 16px;
  display: block;
}

.category-label {
  font-weight: 600;
}

.category-values {
  padding: 16px 0px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.category-values--food-type {
  display: none;
}

.category-values-link {
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  margin-top: 8px;
}

.category-value {
  cursor: pointer;
  padding: 4px;
  display: inline-flex;
  justify-content: space-between;
  border-radius: 3px;
  width: 120px;
}

.category-value:not(.category-value--bordered):hover,
.category-value--selected:not(.category-value--bordered) {
  background-color: #2897c5;
  color: #fff;
}

.category-value.category-value--bordered {
  display: inline-block;
  border-radius: 0;
}

.category-value--bordered:hover,
.category-value--bordered.category-value--selected {
  border-bottom: 1px solid #2897c5;
}

@media screen and (min-width: 64em) {
  .sidebar {
    width: 200px;
  }

  .category-values {
    display: block;
  }

  .category-value {
    cursor: pointer;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    width: auto;
  }

  .sidebar-toggle {
    display: none;
  }

  .category-values--all {
    display: none;
  }
}
