.stars {
  background-image: url('./stars.png');
  background-size: cover;
  height: 15px;
  width: 80px;
}

.plain-stars {
  background-image: url('./stars.png');
  background-repeat: no-repeat;
  background-position-y: -15px;
  height: 15px;
  background-size: 80px;
}

.plain-stars--1 {
  width: 16px;
}

.plain-stars--2 {
  width: 32px;
}

.plain-stars--3 {
  width: 48px;
}

.plain-stars--4 {
  width: 64px;
}

.plain-stars--5 {
  width: 80px;
}
