.App {
  background-image: url('./screens/App/background_@2X.png');
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 64em) {
  .App {
    padding: 50px 0;
  }
}
